@{
    ViewBag.Title = "Xóa loại hàng";
}
<div class="box box-danger">
    <div class="box-body">
        <form action="~/Category/Delete" method="post">

            <div class="form-group">
                <label>Tên loại hàng</label>
                <p class="form-control-static">Ô tô</p>
            </div>

            <div class="form-group">
                <label>Mô tả</label>
                <p class="form-control-static">Ô tô nhập khẩu từ Tây Ban Nha</p>
            </div>

            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary btn-danger">
                    <i class="fa fa-floopy-o"></i>
                    Xóa dữ liệu
                </button>
                <a href="~/Category" class="btn btn-default">
                    Quay lại
                </a>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
